body {
	font-family: Arial, Helvetica, sans-serif;
}

body, html {
	margin: 0;
	background-color: rgba(0, 0, 0, 0.658);
}

header, section, footer {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

header{
	height: 80px;
	/*background-color: #C0E854;*/
	background-color: rgba(0, 0, 0, 0.795);
	position: sticky;
	top: 0;
	z-index: 1000;
}

footer {
	height: 80px;
	background-color: chocolate;
	border-radius: 20px;
}

#marca {
	width: 300px;
	height: 60px;
	/*background-color: cyan;*/
	float: left;
	margin: 10px;
}

#logo {
	width: 80px;
	height: 80px;
	background-color: black;
	float: left;
}

#botonera {
	width: 550px;
	height: 80px;
	/*background-color: rgb(144, 166, 238);*/
	float: right;
}

#nosotros {
	background-color: #a4af42;
	height: 550px;
	/*padding-top: 90px;*/
	border-radius: 20px;
}

.nosotros_caja {
	width: 460px;
	height: 520px;
	float: left;
	background-color: rgb(88, 207, 201);
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 20px;
	text-align: justify;
	border: 45px solid transparent;
	border-image: url(imagenes/decorative-2858909_960_720.png) 45 stretch;
}

.nosotros_caja_2 {
	width: 460px;
	height: 520px;
	float: left;
	background-image: url(imagenes/credit-card-1730085__340.jpg);
	background-position: center;
	background-size: cover;
	margin: 10px;
	border-radius: 20px;
}


#contacto{
	background-color: #8b81aa;
	height: 550px;
	/*padding-top: 90px;*/
	border-radius: 20px;
}

.contacto_caja{
	width: 460px;
	height: 520px;
	float: left;
	background-color: rgb(218, 207, 110);
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 20px;
	text-align: justify;
}

.contacto_caja_2 {
	width: 460px;
	height: 520px;
	float: left;
	background-image: url(imagenes/technology-6114753__340.webp);
	background-position: center;
	background-size: cover;
	margin: 10px;
	border-radius: 20px;
}

#productos1{
	background: url(imagenes/) , url(imagenes/cyber-5240883__340.png) no-repeat center;
	background-color: #000000;
	background-size: cover;
	height: 600px;
	border-radius: 20px;
}

#productos2{
	background-color: #ec9b21;
	height: 600px;
	border-radius: 20px;
	padding: 10px;
}

#productos2 h3{
	font-size: 1.5em;
	font-weight: bold;
}


#productos3{
	background-color: #2121ec;
	height: 600px;
	border-radius: 20px;
}

.productos3_caja {
	width: 300px;
	height: 450px;
	float: left;
	background-color: burlywood;
	margin: 10px;
	border-radius: 20px;
}

.productos3_caja_inferior {
	width: 940px;
	height: 120px;
	clear: left;
	background-color: chocolate;
	margin: 10px;
	border-radius: 20px;
}

#productos4{
	background-color: #21e5ec;
	height: 600px;
	border-radius: 20px;
}

.productos4_caja {
	width: 460px;
	height: 580px;
	float: left;
	background-color: rgb(224, 100, 83);
	margin: 10px;
	border-radius: 20px;
}

#productos5{
	background-color: #1ae925;
	height: 600px;
	border-radius: 20px;
}

.productos5_caja {
	width: 460px;
	height: 580px;
	float: left;
	background-color: rgb(95, 71, 201);
	margin: 10px;
	border-radius: 20px;
}

.footer_caja {
	width: 460px;
	height: 60px;
	float: left;
	background-color: rgb(107, 154, 180);
	margin: 10px;
	text-align: center;
	border-radius: 20px;
	padding: 20px;
}


#marca h1 {
	margin-top: 10px;
	/*color: darkgreen;*/
	color: darkgrey;
	font-size: 2em;
	font-weight: bold;
}

.contacto_caja h2{
	font-size: 1.5em;
	font-weight: bolder;
}

.contacto_caja p{
	font-size: 1em;
}

.nosotros_caja h2{
	font-size: 1.5em;
	font-weight: bolder;
}

.nosotros_caja p{
	font-size: 1em;
}

#botonera ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#botonera ul li a {
	width: 100%;
	display: block;
	/*color: darkgreen;*/
	color: darkgrey;
	font-weight: bold;
	text-decoration: none;
	padding: 30px;
	box-sizing: border-box;
}

#img_cabecera {
	background-image: url(imagenes/ecommerce-3546296__340.webp);
	background-position: center;
	width: 100%;
	height: 100px;
}

@media all and (min-width: 600px) and (max-width: 1023px) {
	header, section, footer {
		width: 580px;
	}

	#marca {
		display: none;
	}

	#nosotros{
		height: 300px;
		padding-top: 50px;
	}

	.nosotros_caja {
		width: 96%;
		border: 0px;
		height: 280px;
		border-image: none;
	}
	.nosotros_caja_2 {
		display: none;
	}
	

	#contacto {
		height: 320px;
		padding-top: 50px;
	}
	.contacto_caja{
		width: 96%;
		height: 300px;
	}
	
	.contacto_caja_2 {
		display: none;
	}
	
	.productos3_caja {
		width: 170px;
	}
	
	.productos3_caja_inferior {
		width: 560px;
	}
	
	.productos4_caja {
		width: 270px;
	}
	
	.productos5_caja {
		width: 270px;
	}
	
	.footer_caja {
		width: 270px;
	}
	
	#logo {
		display: none;
	}
	#img_cabecera {
		display: none;
	}
}

@media all and (max-width: 599px) {
	header, section, footer {
		width: 90%;
		height: auto;
		position: relative;		
	}
	header {
		position: static;

	}

	section, footer {
		padding: 2%;
		margin: 2%;
	}

	#marca {
		display: none;
	}

	#botonera {
		width: 100%;
		height: auto;
		float: none;
	}

	#botonera ul {
		display: block;
	}

	#botonera ul li a {
		text-align: center;
	}

	#nosotros {
		height: 350px;
		padding-top: 0px;
	}
	.nosotros_caja {
		width: 96%;
		height: 330px;
		border: 0px;
		border-image: none;
	}
	.nosotros_caja_2 {
		display: none;
	}
	

	#contacto {
		height: 380px;
		padding-top: 0px;
	}
	.contacto_caja{
		width: 96%;
		height: auto;
	}
	
	.contacto_caja_2 {
		display: none;
	}

	#productos3 {
		height: 1540px;
	}
	.productos3_caja {
		width: 96%;
	}
	
	.productos3_caja_inferior {
		width: 96%;
	}
	
	#productos4{
		height: auto;
	}
	.productos4_caja {
		width: 96%;
		float: none;
	}
	
	#productos5{
		height: auto;
	}
	.productos5_caja {
		width: 96%;
		float: none;
	}
	

	
	.footer_caja {
		width: 96%;
		padding: 2%;
		float: none;
		box-sizing: border-box;
	}
	
	#logo {
		display: none;
	}
	#img_cabecera {
		display: none;
	}
}

#productos2 h3{
	text-align: center;	
}


#servicios {
	height: 800px;
	background-color: aqua;	
	border-radius: 20px;
}


#contenedor_serv {
	height: 600px;
	background-color: #ec9b21;
}

#mod1_serv, #mod2_serv{
	height: 300px;
}

#mod3_serv{
	height: 200px;
}


#serv1 {
	background-color: #2121ec;
}

#serv2 {
	background-color: aquamarine;
}

#serv2 div img{
	display: flex;
	justify-content: center;
	align-items: center;
}

#serv3 {
	background-color: brown;
}

#serv4 {
	background-color: bisque;
}

#serv5 {
	background-color:#8b81aa;
}

#serv6 {
	background-color:darkseagreen;
}

#serv7 {
	background-color: coral;
}

